.EditableText {
  width: 820px;

  height: 40px;
  min-height: 40px;
  max-height: fit-content;

  outline: none;
  border: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  white-space: pre-wrap;
  outline: none;
  padding: 2px;
  padding-bottom: 6px;
  background-color: transparent;
}
.EditableTexrArea {
  width: 820px;

  height: 40px;
  min-height: 40px;
  max-height: fit-content;

  outline: none;
  border: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  white-space: pre-wrap;
  outline: none;
  background-color: transparent;
  resize: none;
}