.EditableText {
  box-sizing:border-box;
  max-width: 180px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;

}
.EditableInput {
  max-width: 180px;
  height: 34px;
  box-sizing:border-box;
  font-size: 16px;
  outline: none;
  border:none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin-left: calc(5px - 2px);
  overflow: hidden;
  background-color: transparent;
}